<%- include('../partials/head') %>
  </head>
  <body>
<%- include('../partials/nav') %>
  <header class="flex items-center">

    <h1>House registered successfully</h1>
  </header>
  <main>
    <a class="underline text-blue-700" href="/">Go to House</a></header>
  </main>
</body>
</html>